.App {
  text-align: center;
  padding: 1rem 2rem;
  font-family: 'Montserrat', sans-serif;
  max-width: 700px;
  margin: auto;
}

input {
  width: 100%;
  padding: 1rem;
  border: 1px dashed blue;
}

.result-container {
  text-align: left;
  font-size: 1.5rem;
}

.result-container p {
  color: red;
}
